{% extends "site_base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<center><h2>About Kapab Medical Network (MedNet)</h2></center>
<p>The Kapab Medical Network is designed to provide situational awareness to all operating hospitals within Haiti, in a way that provides readiness levels, patient throughput data, and hospital needs. Authenticated users can input information into the Kapab MedNet via SMS message, telephone, email, or webpage form.</P>

<p>The current status of the data in the Kapab MedNet will be output to a collection of Geotagged map projects which will package critical information in easy to understand views. </p>

<p>The Kapab Medical Network will be fully integrated within SouthCom's All Partners Access Network (APAN) system for better visibility.</p>
{% endblock %}
